@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PTSans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "PTSans";
  font-weight: 700;

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0 40px;

  font-size: 18px;
  line-height: 21px;
  font-family: "PTSans", sans-serif;
  color: #333333;

  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page-title {
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 70px;
}

.logo {
  position: relative;
  z-index: 1;

  display: block;
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
}


.nav {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
width: 100%;
}

.site-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}



.site-list-link {
  display: inline-block;
  padding: 19px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  border-bottom: 2px solid transparent;
}

.site-list-link-current {
  border-color: #756257;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin-left: auto;
}

.user-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  text-decoration: none;
}

.user-favorites-num {
  position: absolute;
  top: 3px;
  right: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  padding: 3px;

  font-size: 10px;
  line-height: 10px; /* 100% */
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;;
}

.main {
  flex-grow: 1;
}

.hero {
  padding: 51px 70px 70px;

  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img {
  display: block;
  width: 458px;
  margin: 0 auto;
}

.advantages-description {
  padding: 50px 50px 70px;

  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:not(.advantages-item-full):nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  display: grid;
  grid-template-columns: 400px 800px;
  grid-column: 1 / -1;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantages-item-revers {
  grid-template-columns: 800px 400px;
}

.advantages-item-revers .advantages-image {
  order: -1;
}

.advantages-content {
  min-height: 385px;
  padding: 100px 85px 100px;
}

.advantages-image {
  margin: 0;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-title {
  position: relative;

  margin: 0 0 30px;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-text {
  margin: 0;
}
